@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: radial-gradient( #0000FF ,white );
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;

}

.card{
height:55%;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-radius: 24px;
}

.social_icon span{
font-size: 30px;
margin-left: 10px;
color: #C8F902;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
border-radius: 24px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
border-radius: 24px ;

}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;

}

.login_btn{
border: 0;
   background-color: #FFC312;
    display: block;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 14px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;


}


.login_btn:hover{
color: black;
background-color: white;
}

.signUp_btn{
color: black;
background-color: #FFC312;
width:45%;
}

.signUp_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
color:#40E0D0;
margin-left: 4px;
}

.social_links .instagram{
color:#800080
}

.social_links .youtube{
color:#FF0000
}